#headerText{
  padding-top: 5px;
  padding-bottom: 0;
}
html{
  margin:0;
  padding:0;
}
body {
  background: url("bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}
img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  align-items: center;
  gap: 200px;
}
.col-red h2 {
  width: 350px;

  padding: 20px, 50px;
  line-height: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;

  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}
.col-green h2 {
  width: 350px;
  line-height: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  text-transform: lowercase;
  font-weight: 30;

  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}
.display-box {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
 
}
#coloredBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  clip-path: circle(40%);
  color: rgb(18, 19, 18);
}
.btnCon {
  display: flex;
  margin-right: 30px;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.btnCon button {
  width: 100px;
  border-radius: 10px;
  line-height: 50px;
  height: 50px;
  margin-left: 110px;
  border-style: solid 1px black;
  background: rgb(20,203,48); ;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: black;
  
  /* clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%); */
}
.btnCon button:hover{
background-color: transparent; 
}
.btnCon label {
  width: 40px;
  height: 40px;
  font-size: x-large;
  color: #000000;
}
.btnCon input {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  font-size: large;
  border: 1px solid black;
  background: rgb(20,203,48);
  color: #000000;
}
.btnCon input:hover{
  background-color: transparent;
}
.resetBtn{
  display: flex; 
  justify-content: center; 
  align-items: center
}
.resetBtn button {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-right: 250px;
  line-height: 50px;
  height: 50px;
  border-style: solid 1px black;
  background: rgb(20,203,48); ;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: black;
  /* clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);*/
}
.resetBtn button:hover{
    background-color: transparent; 
}
.inputIntervalDiv {
  padding-right: 320px;
}
@media (min-width: 200px) and (max-width: 1280px) {
  
  .display-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnCon input{
    color:#ffffff
  }
  .btnCon label {
    width: 40px;
    height: 40px;
    font-size: x-large;
    font-weight: bolder;
    color: #ffffff;
  }
  
  .row {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 10px;
    padding: 0!important;
  }
  .inputIntervalDiv {
    padding-right: 0px;
  }
  .resetBtn{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 20px;
  }
  .resetBtn button {
    width: 100px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 0px;
    line-height: 50px;
    height: 50px;
    border-style: solid 1px black;
    background:rgb(20,203,48);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
}
.btnCon {
  display: flex;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btnCon button {
  width: 100px;
  border-radius: 10px;
  line-height: 50px;
  height: 50px;
  margin-left: 0px;
  border-style: solid 1px black;
  background: rgb(20,203,48);
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  
  /* clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%); */
}
.btnCon button:hover{
  background-color:transparent; 
}
.col-red h2 {
  width: 350px;
  padding: 20px, 50px;
  line-height: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;

  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}
.col-green h2 {
  width: 450px;
  line-height: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  text-transform: lowercase;
  font-weight: 30;

  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}
.col-green, .col-red{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
}
@media (max-width: 200px){
  .btnCon {
    display: flex;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .resetBtn{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 0px;

  }
  .btnCon label {
    width: 40px;
    height: 40px;
    font-size: large;
  }
}
@media (max-width: 750px){
  .btnCon {
    display: flex;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .resetBtn{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 0px;

  }
  .btnCon label {
    width: 40px;
    height: 40px;
    font-size: large;
  }
  .col-green h2 {
    width: 450px;
    line-height: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    text-transform: lowercase;
    font-weight: 30;
    clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
  }
  .resetBtn button:hover{
    background-color: transparent; 
}
button:hover{
  background-color:transparent; 
}
}
